html, body {
    padding:0;
    margin:0;
    background:#333;
    position:relative;
    font-family: 'Alfa Slab One', serif;
    background-color: #034639;
}

li {
    font-size: 12px;
    font-weight: 300;
}


/* Card produit catalogue */
.img-size-case {
    width: 100%;
    height: 16vh;
}
@media all and (min-width: 992px) {
    .img-size-case {
        height: 160px;
    }
}
/* @media all and (min-width: 1200px) {
    .img-size-case {
        height: 200px;
    }
} */
